{
  "extends": ["react-app", "@antfu"],
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/prefer-ts-expect-error": "off",
    "import/no-named-as-default": "off"
  }
  // "root": true,
  // "parser": "@typescript-eslint/parser",
  // "parserOptions": {
  //   "ecmaVersion": 2020,
  //   "sourceType": "module",
  //   "ecmaFeatures": {
  //     "jsx": true,
  //     "tsx": true
  //   }
  // },
  // "settings": {
  //   "react": {
  //     "version": "detect"
  //   },
  //   "import/resolver": {
  //     "node": { "extensions": [".js", ".mjs", ".ts", ".d.ts"] },
  //   },
  // },
  // "env": {
  //   "browser": true,
  //   "amd": true,
  //   "node": true,
  //   "es2021": true
  // },
  // "extends": [
  //   "eslint:recommended",
  //   "plugin:import/recommended",
  //   "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
  //   "plugin:@typescript-eslint/eslint-recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  //   "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  // ],
  // "plugins": ["react", "@typescript-eslint"],
  // "rules": {
  //   "react/react-in-jsx-scope": "off",
  //   "react/prop-types": "off",
  //   "@typescript-eslint/explicit-function-return-type": "off",
  //   // "prettier/prettier": ["error", { "endOfLine": "auto" }, {"usePrettierrc": true}],
  //   // "jsx-a11y/accessible-emoji": "off",
  //   // "simple-import-sort/imports": "error",
  //   // "simple-import-sort/exports": "error",
  //   // "jsx-a11y/anchor-is-valid": [
  //   //   "error",
  //   //   {
  //   //     "components": ["Link"],
  //   //     "specialLink": ["hrefLeft", "hrefRight"],
  //   //     "aspects": ["invalidHref", "preferButton"],
  //   //   },
  //   // ],
  // },
}
// https://github.com/TheSwordBreaker/vite-reactts-eslint-prettier/blob/main/.eslintrc.js
